.filters-container {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  gap: 12px;

  @media (max-width: 720px) {
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  button {
    margin-top: auto;
  }
}

.filters-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (max-width: 720px) {
    width: 100%;
  }
}
