$color-primary: #2563eb;
$color-primary-dark: #1d4ed8;
$color-danger: #ef4444;
$color-danger-dark: #dc2626;
$color-warning: #fbbf24;
$color-warning-dark: #f59e1b;
$color-success: #0be099;
$color-success-dark: #059669;
$background-color: #eeeef0;
$border-color: #d6d6d6;